
rulesencyclopediabackend/.vs/rulesencyclopediabackend/v16/.suo

rulesencyclopediabackend/obj/Debug/rulesencyclopediabackend.csprojAssemblyReference.cache

rulesencyclopediaclient/.vs/rulesencyclopediaclient/v16/.suo

rulesencyclopediaclient/.vs/rulesencyclopediaclient/v16/

rulesencyclopediabackend/.vs/rulesencyclopediabackend/v16/

*.cache
